extends _partials/layout

block content
  .flex.flex-col.items-center
    img(src="/x.svg").w-24.h-24
    p.text-xl.font-medium Checkout failed!
    p.mx-4.mb-2 Unfortunately, there was an issue completing your order. Please try again!
    button.rounded-full.bg-blue-500.px-4.py-2.text-neutral-50 Return to Cart
