extends _partials/layout

block scripts
  script(src=cdnUrl + "/button.js")

block content 
  .p-4.flex.justify-center
    img(src=item.image).w-80.h-80.object-cover.rounded
  .p-4.flex.justify-center
    p.font-medium Total !{item.price_total} € 

    script.
      function move() {
        window.location.href = '/sold-out'
      }

    script.
      function onClick() { 
        fetch('/checkout-bits', { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          if (data.soldOut === true) {
            move()
          }
          else {
            startIvyCheckout(data.url , 'popup')
          }
        })
      }

  .p-4.flex.justify-center
    button.justify-center(type="button" onClick='onClick()' data-locale="en" data-position="above").ivy-checkout-button
  
  div
    img.ui.mini.image.flex.justify-center(src='https://upload.wikimedia.org/wikipedia/commons/0/09/Bits_%26_Pretzels_logo.svg' style={'margin-top': '0px', 'margin-left': '10px', 'margin-right': '10px'}).w-20.h-20
