doctype html
head
  title Ivy Bits Store - #{title}
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp')
  script.
    tailwind.config = {
      corePlugins: {
        preflight: false,
      }
    }
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  link(rel="stylesheet", href="/style.css")
  block scripts
body.m-0.p-0(style="background-color:#009ABA")
  div.flex.flex-col.items-center.bg-cover(style="background-image: url('/bits/text-bg-success.svg')")
    div
      img.relative.object-contain.w-full.h-auto(style="bottom: -4vh" src="/bits/girl-success.png")
  div.flex.flex-col.items-center
    img.object-contain.w-full.h-auto(src="/bits/bg.svg")
  div
    p.relative.m-5.text-white(style="top: -4vh" ) 
      | Please pick up your cap at the entrance of the <b>10x Founders Lounge</b>. If you have any questions please contact us via <b>support@getivy.de</b>. Visit 
      a(href='https://getivy.de', style={'color': 'rgb(255 255 255)', }) getivy.io
      |  for more information.