extends _partials/layout

block content
  .flex.flex-col.items-center
    img(src="/check.svg").w-24.h-24
    p.text-xl.font-medium Your order succeeded!
    p.mx-4.mb-2 
      | Come collect your cap at x.
    hr
    a(href="/qr-checkout")
      button.rounded-full.bg-blue-500.text-neutral-50 Get another one here!