extends _partials/layout

block content
  .flex.flex-col.items-center
    img(src="/check.svg").w-24.h-24
    p.text-xl.font-medium Sorry, we are sold out
    p.mx-4.mb-2 If you still feel like doing something good, you can donate 2€ to plant x trees
    a(href="/")
      button.rounded-full.bg-blue-500.px-4.py-2.text-neutral-50 here
