extends _partials/layout

block content
  .flex.flex-col.items-center
    img(src="/check.svg").w-24.h-24
    p.text-xl.font-medium Order #!{orderId} confirmed!
    p.mx-4.mb-2 Thank you for your order! We will ship your order shortly.
