extends _partials/layout

block content
  .flex.flex-col.items-center
    img(src="/check.svg").w-24.h-24.my-6  
    h1.text-xl.font-light.mb-6.text-center(style='color: #717171;') Demo Order #!{orderId} succeeded!
    a(href='/' + shop)
      button.primary Return to Shop